/* css reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* custom properties */

:root {
    /* colors */

    --clr-light-red: 0, 100%, 67%;
    --clr-orangey-yellow: 39, 100%, 56%;
    --clr-green-teal: 166, 100%, 37%;
    --clr-cobalt-blue: 234, 85%, 45%;

    --clr-white: 0, 0%, 100%;
    --clr-pale-blue:221, 100%, 96%;
    --clr-light-lavender: 241, 100%, 89%;
    --clr-dark-gray-blue: 224, 30%, 27%;

    --gradient-bg: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    --gradient-circle: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));

    /* font */

    --font-family: 'Hanken Grotesk', sans-serif;
    --font-size: 1.125rem;

    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extrabold: 800;  

    /* misc */

    --radius: 2rem;
    --padding: 2rem 2rem 2.25rem;
}

body {
    font-family: var(--font-family);
    font-weight: var(--fw-medium);
    font-size: var(--font-size);
}

/* result */

.result {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    text-align: center;
    color: hsl(var(--clr-light-lavender));
    background-image: var(--gradient-bg);
    border-radius: 0 0 var(--radius) var(--radius);
    padding: var(--padding);   
}

.title {
    font-size: 1.25rem;
}

.circle {
    display: grid;
    place-content: center;
    width: 11.25rem;
    border-radius: 50%;
    aspect-ratio: 1/1;
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-light-lavender), .5);
    background-image: var(--gradient-circle);
}

.circle span {
    display: block;
    font-size: 4rem;
    font-weight: var(--fw-extrabold);
    color: hsl(var(--clr-white));
}

.rank {
    font-size: 1.75rem;
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-white));
    margin-bottom: .75rem;
}

/* summary */

.summary {
    color: hsl(var(--clr-dark-gray-blue));
    padding: var(--padding);
}

.container {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    margin: 1.5rem 0 2.5rem;
}

.category {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: .5rem;
    color: hsl(var(--clr-dark-gray-blue), .5);
    background-color: hsl(var(--category-color), .1);
}

.row {
    display: flex;
    gap: 1rem;
}

.category-title {
    font-size: var(--fs-main);
    color: hsl(var(--category-color));
}

.category span {
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-dark-gray-blue));
}

.reaction {
    --category-color: var(--clr-light-red);
}

.memory {
    --category-color: var(--clr-orangey-yellow);
}

.verbal {
    --category-color: var(--clr-green-teal);
}

.visual {
    --category-color: var(--clr-cobalt-blue);
}

button {
    width: 100%;
    text-decoration: none;
    font-weight: var(--fw-bold);
    color: hsl(var(--clr-white));
    background-color: hsl(var(--clr-dark-gray-blue));
    border: 0;
    border-radius: 2rem;
    padding: 1rem;
    cursor: pointer;
}

button:is(:hover, :focus) {
    background-image: var(--gradient-bg);
}


@media (min-width: 600px) {
    body {
        display: grid;
        place-content: center;
        padding: 1rem;
    }

    .component {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 640px;
        border-radius: var(--radius);
        overflow: hidden;
        box-shadow: .5rem 1rem 2rem hsl(var(--clr-light-lavender), .4);
    }

    .result {
        border-radius: var(--radius);
    }
}